<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="card">
        <div class="card-header bg-success text-white">
          <h6>Lista de Veículos</h6>
        </div>
        <div class="card-body"> 
          <div class="row">
            <div class="col-12">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th>Contato</th>
                    <th>Email</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Conteúdo da tabela -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card"> 
        <div class="card-header bg-success text-white">
          Novo Veículo
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <label for="financiado">Financiado</label>
              <input type="text" id="financiado" class="form-control">
            </div>
            <div class="col-6">
              <label for="id">ID</label>
              <input type="text" id="id" class="form-control">
            </div>
            <div class="col-6">
              <label for="updated_at">Updated At</label>
              <input type="text" id="updated_at" class="form-control">
            </div>
            <div class="col-6">
              <label for="created_at">Created At</label>
              <input type="text" id="created_at" class="form-control">
            </div>
            <div class="col-6">
              <label for="placa">Placa</label>
              <input type="text" id="placa" class="form-control">
            </div>
            <div class="col-6">
              <label for="modelo">Modelo</label>
              <input type="text" id="modelo" class="form-control">
            </div>
            <div class="col-6">
              <label for="ano">Ano</label>
              <input type="text" id="ano" class="form-control">
            </div>
            <div class="col-6">
              <label for="marca">Marca</label>
              <input type="text" id="marca" class="form-control">
            </div>
            <div class="col-6">
              <label for="comentario">Comentário</label>
              <textarea id="comentario" class="form-control"></textarea>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6 text-center">
              <button class="btn btn-secondary">Reset</button>
            </div>
            <div class="col-6 text-center">
              <button class="btn btn-success">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
