<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Veículos</title>
  
  <script>
    const loadScript = (src) => { // Coloquei assim para ficar mais "Organizado" os Links
      const script = document.createElement('script');
      script.src = src;
      script.async = false;
      document.head.appendChild(script);
    };

    const loadStyle = (href) => {
      const link = document.createElement('link');
      link.rel = 'stylesheet';
      link.href = href;
      document.head.appendChild(link);
    };

    loadScript('https://code.jquery.com/jquery-3.5.1.slim.min.js');
    loadScript('https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js');
    loadScript('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js');
    loadStyle('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

    $(function () {
      $('[data-toggle="tooltip"]').tooltip(); // Jquery inicializa os tooltips para o Html ( Está sendo usado para o Hover no Checkbox do Forms)
    });


    function showModal(message) {
      document.getElementById('modalMessage').innerText = message;
      $('#feedbackModal').modal('show');
    }
    
    function onSave() {
      // Lógica para salvar veículo
      showModal('Veículo salvo com sucesso!');
    }

    function deleteSelected() {
      // Lógica para excluir veículos selecionados
      showModal('Veículos excluídos com sucesso!');
    }

  </script>

</head>
<body class="bg-dark text-black">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header bg-dark text-white text-center">
            <h5>Novo Veículo</h5>
          </div>
          <div class="card-body">
            <form [formGroup]="veiculosForm">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <label for="marca" class="text-black">Marca</label>
                  <select id="marca" formControlName="marca" class="form-control">
                    <option value="">Selecione uma marca</option>
                    <option *ngFor="let marca of marcas" [value]="marca.nome">{{ marca.nome }}</option>
                  </select>                  
                </div>
                <div class="col-md-6 form-group">
                  <label for="modelo" class="text-black">Modelo</label>
                  <input type="text" id="modelo" formControlName="modelo" class="form-control">
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-4 form-group">
                  <label for="placa" class="text-black">Placa</label>
                  <input type="text" id="placa" formControlName="placa" class="form-control">
                </div>
                <div class="col-md-4 form-group">
                  <label for="ano" class="text-black">Ano</label>
                  <input type="text" id="ano" formControlName="ano" class="form-control">
                </div>
                <div class="col-md-4 form-group d-flex align-items-center justify-content-center">
                  <div class="form-check">
                    <input type="checkbox" id="financiado" formControlName="financiado" class="form-check-input">
                    <label class="form-check-label text-black" for="financiado">Financiado</label>
                  </div>
                </div>
              </div>
              <div class="form-row pt-2">
                <div class="col-md-6 text-center mb-2">
                  <button type="button" class="btn btn-secondary btn-block">Voltar</button>
                </div>
                <div class="col-md-6 text-center mb-2">
                  <button type="button" class="btn btn-success btn-block" (click)="onSave()" [disabled]="!veiculosForm.valid">Salvar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card">
          <div class="card-header bg-dark text-white text-center">
            <h5>Lista de Veículos</h5>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-striped table-hover">
                <thead>
                  <tr>
                    <th>Marca</th>
                    <th>Ano</th>
                    <th>Modelo</th>
                    <th>Placa</th>
                    <th>Financiado</th>
                    <th style="width: 50px;">
                      <label style="display: flex;">
                        <input type="checkbox" (change)="toggleSelectAll($event)" style="transform: scale(1.4);" data-toggle="tooltip" title="Selecionar Todos">
                      </label>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let veiculo of veiculosLista">
                    <td>{{ veiculo.marca }}</td>
                    <td>{{ veiculo.ano }}</td>
                    <td>{{ veiculo.modelo }}</td>
                    <td>{{ veiculo.placa }}</td>
                    <td>{{ veiculo.financiado ? 'Sim' : 'Não' }}</td>
                    <td style="width: 50px;">
                      <label>
                        <input type="checkbox" [(ngModel)]="veiculo.selected" style="transform: scale(1.4);" data-toggle="tooltip" title="Selecionar">
                      </label>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div> 
            <!-- Falta Adicionar o campo de Edição -->
            <div class="text-center mt-3">
              <button type="button" class="btn btn-danger" (click)="deleteSelected()">Excluir Selecionados</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
